/*header*/
#header{
    margin-top: 20px;
    display: flex;
    width:100%;
    justify-content: flex-end;
}
.Upperbuttons
{
    text-align: center;
    text-decoration: none ;
    color:rgba(0, 0, 0, 0.7);
    position: relative;
    padding:5px;

}
.Upperbuttons:hover
{
   text-decoration: underline;

}
#gridimg
{
    height:30px;
    width:30px;
    transform :scale(0.6);
    opacity:0.9;
    margin-right:5px;
    padding-left: 5px;

}
#userimg
{
    height:30px;
    width:30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
}



/*main content*/
#googleLogo
{
    display: block;
    margin:0 auto;
    padding-top:100px;
}
#Soutline
{
    margin:0 auto;
    margin-top:30px;
    width:550px;
    height:40px;
    border-style: solid;
    border-width:1px;
    border-radius: 50px;
    border-color: rgba(0, 0, 0, 0.3);
}
#Soutline:hover
{
    box-shadow:1px 1px 3px 1px rgba(0,0,0,0.3) ;
    transform:scale(1.01);
}
#searchField
{
   border-style:hidden;
  display: block;
  margin: 5px auto;
  width:500px;
  height:30px;
}
#searchField:focus
{
outline:none;
}

#buttonsDiv
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.buttons
{
    margin:10px;
    width:150px;
    height:40px;
    border-style: hidden;
}
.buttons:hover
{
border-style:solid;
transform:scale(1.01);
border-color: rgba(0, 0, 0, 0.3);
border-width:1px;
}

/*footer*/
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    right:0px;
}
.footer
{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width:1px;
}

.footer ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.1);
}
.footer li{
    float: left;
}

.footer a{
    display: block;
     color:rgba(0, 0, 0, 0.6);
  text-align: center;
  padding:10px 12px;
  text-decoration: none;
}
#foot1
{
    position: absolute;
    bottom:0px;
    right: 10px;
    border-color: rgba(0, 0, 0, 0);
   
    border-style: none;

}
#foot1 ul
{
    background-color:rgba(0, 0, 0, 0);
}

#foot1 a:hover, #foot2 a:hover
{
    text-decoration: underline;
}
